<!-- Banner -->
{% if layout.banner == 'simple' or page.banner == 'simple' %}
  <section id="banner" class="projectBanner">
    <h2>{{ page.title }}</h2>
  </section>
{% else %}
  <section id="banner">
    <img class="hidden" src="assets/images/banner.png" onload="upgradeBackgroundImage(this)"/>
    <h2>{{ page.title }}</h2>
    <p class="tooltip">{{ page.motto }}<span class="tooltiptext">{{ page.translation }}</span></p>
    {% if page.name == 'index.html' %}
      {% include news.html %}
    {% endif %}
    {% if page.scholar =='true' %}
      <h3><a href="https://scholar.google.com/citations?user=iCV8dY0AAAAJ&hl=en">Google Scholar</a></h3>
    {% endif %}
  </section>
{% endif %}
