<!-- Banner -->
{% if layout.banner == 'simple' %}
  <section id="banner" class="projectBanner">
    <h2>{{ page.title }}</h2>
    {% if page.collaborators %}
    <p> In collaboration with </br>
      {% for item in page.collaborators %}
        <a href= "{{ item.exturl }}">{{ item.name }}</a>
      {% endfor %}
    </p>
    {% endif %}
  </section>
{% else %}
  <section id="banner">
    <img class="hidden" src="assets/images/banner.png" onload="upgradeBackgroundImage(this)"/>
    <h2>{{ page.title }}</h2>
    <p class="tooltip">{{ page.motto }}<span class="tooltiptext">{{ page.translation }}</span></p>
    {% if page.name == 'index.html' %}
      {% include news.html %}
    {% endif %}
    {% if page.subtitle == 'scholar' %}
      <h3>
        <a href="http://scholar.google.com/citations?user=iCV8dY0AAAAJ" class="icon ai ai-google-scholar" title="Google Scholar"><span class="label">Google Scholar</span></a><a href="https://www.researcherid.com/rid/M-4100-2016" class="icon ai ai-researcherid" title="ResearcherID"><span class="label">ResearcherID</span></a>
      </h3>
    {% endif %}
  </section>
{% endif %}
