<!-- Banner -->
{% if layout.banner == 'simple' %}
  <section id="banner" class="projectBanner" role="region" aria-label="Page header">
    <h1>{{ page.title }}</h1>
    {% if page.collaborators %}
    <p> In collaboration with </br>
      {% for item in page.collaborators %}
        <a href= "{{ item.exturl }}">{{ item.name }}</a>
      {% endfor %}
    </p>
    {% endif %}
  </section>
{% else %}
  <section id="banner" role="region" aria-label="Page header">
    <img class="hidden" src="assets/images/hiring.png" alt="" onload="upgradeBackgroundImage(this)"/>
    <h1>{{ page.title }}</h1>
    <p class="tooltip">{{ page.motto }}<span class="tooltiptext">{{ page.translation }}</span></p>
    {% if page.name == 'index.html' and page.news %}
      {% include news.html %}
    {% endif %}
    {% if page.subtitle == 'scholar' %}
      <h2>
        <a href="http://scholar.google.com/citations?user=iCV8dY0AAAAJ" class="icon ai ai-google-scholar" aria-label="Google Scholar Profile"><span class="label">Google Scholar</span></a><a href="https://www.researcherid.com/rid/M-4100-2016" class="icon ai ai-researcherid" aria-label="ResearcherID Profile"><span class="label">ResearcherID</span></a>
      </h2>
    {% endif %}
  </section>
{% endif %}
