<!-- contact -->
<section id="contact" class="wrapper style2 special">
  <div class="inner">
  <header class="major narrow">
   <h2>Get in touch</h2>
   <p><a href="mailto:rkamalapurkar@ufl.edu">rkamalapurkar@ufl.edu</a><br /><a href="tel:+1-352-392-0961">(352) 392-0961</a></p>
  </header>
  </div>
</section>

<!-- Footer -->
<footer id="footer">
  <div class="inner">
  <ul class="icons">
   <li><a href="http://scholar.google.com/citations?user=iCV8dY0AAAAJ" class="icon ai ai-google-scholar">
   <span class="label">Google Scholar</span>
   </a></li>
   <li><a href="https://www.researcherid.com/rid/M-4100-2016" class="icon ai ai-researcherid">
   <span class="label">ResearcherID</span>
   </a></li>
   <li><a href="https://www.linkedin.com/in/rushikesh-kamalapurkar-7182588" class="icon fa-linkedin">
   <span class="label">LinkedIn</span>
   </a></li>
  </ul>
  <ul class="copyright">
   <li>&copy; Rushikesh Kamalapurkar</li>
  </ul>
  </div>
</footer>
