/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.hidden {
	display: none !important;
}
.initiallyHidden {
	height: 0em;
	margin: 0em;
	padding:0em;
}
#qs_field {
	width: auto;
	-webkit-box-shadow: 0 0.15em 0.5em 0 rgba(0,0,0,0.2);
			box-shadow: 0 0.15em 0.5em 0 rgba(0,0,0,0.2);
	padding: 0.3em;
	padding-left:0.75em;
	margin-left: 0.5em;
	max-width: 30%;
	border-radius: 1em;
	border:none;
}
#qs_field:focus, #qs_field:hover, .searchSettings:hover, .bibliometrics:hover {
	outline: none;
	-webkit-box-shadow: 0 0.25em 1em 0 rgba(0,0,0,0.2);
			box-shadow: 0 0.25em 1em 0 rgba(0,0,0,0.2);
}
button.Button {
	display: inline-block;
	margin-left: 0.75em;
	cursor: pointer;
	background: transparent;
	border-radius: 0.3em;
	padding: 0.1em 0.2em;
	border: none;
}
button.Margin {
	display: inline-block;
	margin-top: 0.25em;
	margin-right: 0.15em;
	margin-left: 0em;
}
button.toggleType {
	display: inline-block;
	border: none;
	cursor: pointer;
	background: transparent;
	position: relative;
	padding: 0.25em 0.5em 0.25em 0em;
	font-size:0.75em;
}
button.toggleType i {
	height:1em;
	width:1em;
	overflow:hidden;
}
.collapseAllType, .expandAllType {
	display: inline-block;
	border: none;
	cursor: pointer;
	background: transparent;
	position: relative;
	padding: 0.25em 0.5em 0.25em 0.5em;
	margin-left:1.5em;
	font-size:0.75em;
}
.collapseAllType i, .expandAllType i {
	height:1em;
	width:1em;
	overflow:hidden;
}
span.workTitle {
	font-weight: bold;
}
span.journalTitle, span.bookTitle {
	font-style: italic;
}
#quicksearch {
	width: 100%;
	margin-bottom:0;
	border-bottom: 1px solid #ccc;
	padding-top: 0.75em;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	background-color: white;
}
[id$=groupSelector] {
	cursor: pointer;
	margin-top: 0.25em;
	padding: 0.1em;
	border-radius: 0.3em;
	margin-right: 0em;
	border: none;
}
i.fas.fa-external-link-alt, i.fas.fa-external-link-square-alt, i.far, i.fab {
	color: #cc4c00;
	margin-left: 0.75em;
	height: 1.25em;
	width: 1.25em;
	padding-top: 0.25em;	
	overflow:hidden;
}
i.ai {
	color: #cc4c00;
	height: 1.25em;
	width: 1.25em;
}
span.workURL i.fas.fa-external-link-alt {
	margin-left: 0em;
}
h1.page-title {
	margin-bottom: 0;
}
#searchButtons {
	display: inline-block;
}
#bibliometrics {
	overflow:hidden;
	-webkit-transition: height 0.25s, margin 0.25s, border 0.25s;
	-o-transition: height 0.25s, margin 0.25s, border 0.25s;
	transition: height 0.25s, margin 0.25s, border 0.25s;
	padding-left:0.75em;
}
#settings {
	overflow:hidden;
	-webkit-transition: height 0.25s, margin 0.25s, padding 0.25s;
	-o-transition: height 0.25s, margin 0.25s, padding 0.25s;
	transition: height 0.25s, margin 0.25s, padding 0.25s;
	padding: 0em 0em 0em 0.75em;
}
#searchFlexBox {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	display: -webkit-flex;
	margin-bottom:0.75em;
}
div.BiBTeX {
	overflow:hidden;
	font-family: monospace;
	background-color: #272727;
	border-radius: 1em;
	padding-left:1em;
	padding-right:1em;
	color: #fff;
	-webkit-transition: height 0.25s, margin 0.25s, padding-top 0.25s;
	-o-transition: height 0.25s, margin 0.25s, padding-top 0.25s;
	transition: height 0.25s, margin 0.25s, padding-top 0.25s;
	word-wrap: break-word;
}
div.BiBTeX.notHidden {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
div.BiBTeX.zeroHeight {
	padding-top: 0.0em;
	padding-bottom: 0.0em;
	margin-top: 0.0em;
	margin-bottom: 0.0em;
}
a {
	color: inherit;
	text-decoration: inherit;
}
a:hover {
	color: inherit;
	text-decoration: inherit;
}
ol {
	overflow:hidden;
	list-style-position: inside;
	-webkit-padding-start: 0em;
			padding-inline-start: 0em;
}
ol.zeroHeight {
	-webkit-transition:height 0.3s cubic-bezier(0,0.85,1,1);
	-o-transition:height 0.3s cubic-bezier(0,0.85,1,1);
	transition:height 0.3s cubic-bezier(0,0.85,1,1);
}
ol.notHidden {
	height:auto;
	-webkit-transition:height 0.3s cubic-bezier(0.85,0,1,1);
	-o-transition:height 0.3s cubic-bezier(0.85,0,1,1);
	transition:height 0.3s cubic-bezier(0.85,0,1,1);
}
li.entry {
	margin: 0.25em 1em 1em 1em;
	-webkit-box-shadow: 0 0.15em 0.5em 0 rgba(0,0,0,0.2);
			box-shadow: 0 0.15em 0.5em 0 rgba(0,0,0,0.2);
	padding: 0.5em;
	border-radius: 1em;
}
li.entry:hover {
	-webkit-box-shadow: 0 0.25em 1em 0 rgba(0,0,0,0.2);
			box-shadow: 0 0.25em 1em 0 rgba(0,0,0,0.2);
}
@media (min-aspect-ratio: 3/4) {
	ol {
		list-style-position: outside;
		-webkit-padding-start: 1em;
				padding-inline-start: 1em;
	}
}
.switch {
	position: relative;
	display: inline-block;
	width: 2em;
	height: 1em;
	margin-left: 0.5em;
	margin-bottom: 0;
	margin-right: 0.5em;
}
.searchSettings {
	font-size: 0.9em;
	display:inline-block;
	margin: 0.75em 1em 0.75em 0em;
	white-space: nowrap;
	-webkit-box-shadow: 0 0.15em 0.5em 0 rgba(0,0,0,0.2);
			box-shadow: 0 0.15em 0.5em 0 rgba(0,0,0,0.2);
	border-radius: 1em;
	border:none;
	padding:0.3em 0.3em 0.3em 1em;
	cursor: pointer;
}
.clickableText {
	cursor: pointer;
}
.bibliometrics {
	font-size: 0.9em;
	display:inline-block;
	margin: 0.75em 1em 0.75em 0em;
	-webkit-box-shadow: 0 0.15em 0.5em 0 rgba(0,0,0,0.2);
			box-shadow: 0 0.15em 0.5em 0 rgba(0,0,0,0.2);
	border-radius: 1em;
	border:none;
	padding:0.3em 0.5em 0.3em 0.5em;
}
.slider {
	position: absolute;
	cursor: pointer;
	left: 0.5em;
	right: 0.5em;
	top: 0.5em;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
	border-radius: 4px;
}
.slider:before {
	position: absolute;
	content: "";
	height: 1em;
	width: 1em;
	left: -0.5em;
	bottom: -0.25em;
	background-color: #696969;
	-webkit-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
	border-radius: 4px;
}
.slider.round {
	border-radius: 1.1em;
}
.slider.round:before {
	border-radius: 50%;
}
input:focus + .slider {
	-webkit-box-shadow: 0 0 0.3em #ff6000;
			box-shadow: 0 0 0.3em #ff6000;
}
input:checked + .slider {
	background-color: #ff6000;
}
input:checked + .slider:before {
	-webkit-transform: translateX(1em);
	-ms-transform: translateX(1em);
	transform: translateX(1em);
}

/* CSS for research area pages */
.researchContainer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
		-ms-flex-flow: row wrap;
			flex-flow: row wrap;
	-webkit-box-pack: space-evenly;
		-ms-flex-pack: space-evenly;
			justify-content: space-evenly;
	/*These make subsequent fixed positions relative to .researchContainer instead of the viewport*/
	/* position:relative; */
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
	overflow:hidden;
	-webkit-transition:height 0.35s;
	-o-transition:height 0.35s;
	transition:height 0.35s;
}
.topicCardFlex {
	-webkit-box-flex: 1;
		-ms-flex: 1 1 33%;
			flex: 1 1 33%;
	max-width: 33%;
	padding: 1em;
	pointer-events: auto;
	cursor: pointer;
}
@media (max-width: 1000px) {
	.topicCardFlex {
		-webkit-box-flex: 1;
			-ms-flex: 1 1 50%;
				flex: 1 1 50%;
		max-width: 50%;
	}
	@media (max-width:600px) {
		.topicCardFlex {
			-webkit-box-flex: 1;
				-ms-flex: 1 1 100%;
					flex: 1 1 100%;
			max-width: 100%;
		}
	}
}
.aspectRatioOne {
	padding-top: 100%;
	position: relative;
	pointer-events: none;
}
.topicTitle {
	position: absolute;
	font-size: 2em;
	font-variant: small-caps;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
	padding: 0em;
	border-radius: 1em;
	width: 85%;
	-webkit-transition: .5s ease;
	-o-transition: .5s ease;
	transition: .5s ease;
	color: white;
	pointer-events: none;
}
.topicImg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 1em;
	-webkit-transition: .5s ease;
	-o-transition: .5s ease;
	transition: .5s ease;
	background-color: black;
	pointer-events: none;
}
img.coverImage {
	width: 100% !important;
	height: 100% !important;
	-o-object-fit: cover !important;
	   object-fit: cover !important;
	display: block;
	margin: auto;
	border-radius: 1em;
	opacity: 0.4;
	-webkit-transition: .5s ease;
	-o-transition: .5s ease;
	transition: .5s ease;
	pointer-events: none;
}
/* when topic card is clicked */
.topicCardFlex.showText {
	pointer-events: none;
}
.topicCardFlex.showText .topicTitle {
	font-size: 1.25em;
	font-variant: none;
	top: 0%;
	left: 50%;
	-webkit-transform: translate(-50%, 0%);
			transform: translate(-50%, 0%);
	-ms-transform: translate(-50%, 0%);
	text-align: center;
	padding: 0.25em;
	border-radius: 0em;
	width: 85%;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
	color: black;
	pointer-events: none;
	font-weight: bold;
	margin-bottom: 1em;
}
.topicCardFlex.showText .topicText {
	pointer-events: auto;
	opacity: 1;
}
.topicCardFlex.showText .topicImg {
	opacity: 0.1;
}
.topicDetails {
	pointer-events: none;
	overflow:hidden;
}
.topicText {
	width: 95%;
	max-height: 80%;
	overflow: auto;
	padding-right: 0.25em;
	padding-left: 0.25em;
	font-size: 1em;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -40%);
			transform: translate(-50%, -40%);
	-ms-transform: translate(-50%, -40%);
	opacity: 0;
	-webkit-transition: opacity .5s ease;
	-o-transition: opacity .5s ease;
	transition: opacity .5s ease;
	pointer-events: none;
	cursor:text;
}
.topicPublications {
	background-color: white;
	display: none;
	margin-top: 1em;
}
/* when publications screen is opened*/
.topicDetails.fullScreen .fullTextImage {
	display:block;
	width: 100%;
	max-width: 500px !important;
	margin-left: auto;
	margin-right: auto;
	pointer-events:auto;
	cursor:auto;
}
.topicText .fullTextImage {
	display:none;
}
.topicDetails.fullScreen {
	/* position:fixed; */
	top:0;
	left:0;
	z-index:99999;
	background-color:white;
	max-width:100%;
	overflow: hidden;
	pointer-events: auto;
}
.topicDetails.fullScreen .topicPublications {
	display: block;
}
.topicDetails.fullScreen .topicText {
	position: static;
	-webkit-transform: none;
			transform: none;
	-ms-transform: none;
	opacity: 1;
	font-size: 1em;
	display:block;
	padding:1em;
	margin:1em;
	width: auto;
	height:auto;
	background-color:white;
	-webkit-box-shadow: 0 0.15em 0.5em 0 rgba(0,0,0,0.2);
			box-shadow: 0 0.15em 0.5em 0 rgba(0,0,0,0.2);
	border-radius: 1em;
	max-height: none;
	top: 0;
	left: 0;
	pointer-events: auto;
	cursor:text;
}
/* click to publish... text blocks*/
.hiddenText, .hiddenFullScreenText {
	cursor:pointer;
}
.topicText .hiddenText, .topicDetails.fullScreen .hiddenFullScreenText {
	display:none;
}
.topicDetails.fullScreen .hiddenText {
	display:block;
	text-align:center;
	color:#7f7f7f;
	cursor:pointer;
	pointer-events:auto;
}
.topicText .hiddenFullScreenText {
	display:block;
	text-align:center;
	color:#7f7f7f;
	margin:0.5em;
}
/* scrollbars */
.topicText::-webkit-scrollbar {
	width: 5px;
}
 
/* Track */
.topicText::-webkit-scrollbar-track {
	border-radius: 5px;
}
 
/* Handle */
.topicText::-webkit-scrollbar-thumb {
	opacity:0.1;
	border-radius: 5px;
	background: rgba(0,0,0,0.1); 
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}