/* The side navigation menu */
body {
	margin:0;
	font: normal normal 14px/1.4 Helvetica,Roboto,"Segoe UI",Calibri,sans-serif;
}
.topContainer {
	font-variant: small-caps;
}
.topnavContainer {
	margin:0;
	padding:0;
	background-color: #777;
	font-variant: small-caps;
}
.topnav {
	overflow: hidden;
}
/* Sidebar links */
.topnav a {
	float: right;
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size:min(1.25em,4vw);
	color: white;
	border-top-color: #777;
	border-top-style: solid;
	border-width: 3px;
}
/* Active/current link */
.topnav a.active {
	border-top-color: #FE5C00;
	border-top-style: solid;
	border-width: 3px;
	color: white;
}
/* Links on mouse-over */
.topnav a:hover {
	background-color: #555;
	color: white;
}
.topnav .icon {
	display: none;
}
/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.top {
	display: flex;
	justify-content: center;
	flex-wrap: nowrap;
	padding:0.5em;
	background-color: antiquewhite;
}
div.toplogo {
	max-width:min(100px,25%);
	display:flex;
	margin-right:auto;
}
img.toplogo {
	max-width:100%;
}
.toptext {
	display: flex;
	font-size:min(1.5em,6vw);
	font-weight: bold;
	width:70%;
	justify-content: flex-end;
	align-items: center;
	text-align: center;
}
div.contentWrapper {
	position:static;
	right:0;
}
div.twitterContainer {
	max-width: min(800px,100%);
	margin-right:auto;
	margin-left:auto;
}
@media (max-width: 600px) {
	.topnav a.active {background-color: transparent;}
	.topnav a.active:hover {
		background-color: #555;
		color: white;
	}
	.topnav a:not(.active) {display: none;}
	.topnav a.icon {
		float: left;
		display: block;
	}
	.topnav.responsive {position: relative;}
	.topnav.responsive a.icon {
		position: absolute;
		left: 0;
		top: 0;
	}
	.topnav.responsive a {
		float: none;
		display: block;
		text-align: center;
		border:none;
	}
	div.contentWrapper {margin-left: 0;}
	div.topContainer {margin-left:0;}
}