/* The side navigation menu */
.sidebar {
	margin: 0;
	padding: 0;
	width: 200px;
	top:0;
	background-color: #f1f1f1;
	position: fixed;
	height: 100%;
	overflow: auto;
}

/* Sidebar links */
.sidebar a {
	display: block;
	color: black;
	padding: 16px;
	text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
	background-color: #4CAF50;
	color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
	background-color: #555;
	color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.contentWrapper {
	position:static;
	margin-left:200px;
	right:0;
	padding: 1em;
}
div.topContainer {
	margin-left:200px;
}
div.top {
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	display: -webkit-flex;
	margin-bottom:1em;
	padding:0.5em;
	border-bottom-width:5px;
	border-bottom-color:black;
	border-bottom-style: solid;
}
div.toplogo {
	width:100px;
}
img.toplogo {
	width:100%;
}
.toptext {
	font-family:'Segoe UI',Arial,sans-serif;
	font-size:1.5em;
	padding-top:1em;
	width:70%;
	text-align:right;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media (max-aspect-ratio: 3/4) {
	.sidebar {
		width: 100%;
		height: auto;
		position: relative;
	}
	.sidebar a {float: left;}
	div.contentWrapper {margin-left: 0;}
	div.topContainer {margin-left:0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 300px) {
	.sidebar a {
		text-align: center;
		float: none;
	}
}
