#banner .carousel-cell {
	width: 30vw;
	height: calc(30vw*(3/4)*(40/100));
	margin-right: 10px;
	margin-left:10px;
	counter-increment: gallery-cell;
	-webkit-box-shadow: 0 0 0.5em 0 rgb(0 0 0 / 75%);
			box-shadow: 0 0 0.5em 0 rgb(0 0 0 / 75%);
	background-color: #303030;
	opacity: 0.4;
	overflow: hidden;
	display: flex;
	align-items: stretch;
}
#banner .flickity-slider {
	display: flex;
}
#banner .flickity-resize .carousel-cell {
	min-height: 100%;
}
	#banner .carousel-cell.is-selected {
		background-color: #303030;
		opacity: 0.9;
	}
#banner .flickity-button-icon {
	fill: #FA4616;
}
#banner .flickity-button {
	background-color: transparent;
}
#banner .carousel-cell .feature{
	margin:0;
	align-items: center;
	background-color: transparent;
	max-height: 100%;
}
#banner .carousel-cell p {
	margin:0;
	text-transform: none;
	font-size:1em;
	line-height:1.5em;
	padding: 0em;
}
#banner .carousel-cell .feature .content {
	padding: 1em;
}
	@media screen and (max-width: 1680px) {
		#banner .carousel-cell p {
			font-size:0.9em;
			text-shadow: 0 0 10px black;
		}
	}
	@media screen and (max-width: 1280px){
		#banner .carousel-cell p {
			font-size:1vw;
			text-shadow: 0 0 10px black;
		}
	}
	@media screen and (max-width: 980px){
		#banner .carousel-cell p {
			font-size:1.4vw;
			text-shadow: 0 0 10px black;
		}
		#banner .carousel-cell {
			width: 40vw;
			height: calc(40vw*(3/4)*(40/100));
		}
	}
	@media screen and (max-width: 736px) {
		#banner .carousel-cell {
			width: 35vw;
			height: calc(35vw*(3/4));
		}
		#banner .carousel-cell .feature {
			display: block;
			position: relative;
			max-height: 100%;
			z-index:99;
		}
		#banner .carousel-cell .content {
			display: block;
			position: absolute;
			bottom: 0em;
			padding: 0em;
			height:100%;
			left: 50%;
			transform: translate(-50%, 0%);
			background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.9))
		}
		#banner .carousel-cell p {
			width:100%;
			position: absolute;
			bottom: 0em;
			left: 50%;
			transform: translate(-50%, 0%);
			padding: 0em 0.5em 0em 0.5em;
			font-size: min(1em,2.5vw);
			text-shadow: 0 0 10px black;
		}
	}
	@media screen and (max-width: 480px) {
		#banner .carousel-cell p {
			padding: 0;
			font-size: max(0.5em,min(1em,3.5vw));
			text-shadow: 0 0 10px black;
			padding: 0em 0.5em 0em 0.5em;
		}
		#banner .carousel-cell {
			width: 50vw;
			height: calc(50vw*(3/4));
		}
	}
