/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.hidden {
	display: none !important;
}
.initiallyHidden {
	height: 0em;
	margin: 0em;
	padding:0em;
}
#header {
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
	padding-right:1.25em;
	padding-left:1.25em;
}
#header > h1{
	position: static;
	float:left;
}
#header.alt {
	position:fixed;
}
#header a {
	margin:0;
}
.headerWrapper {
	height:100%;
}
#includedContent {
	margin: 0 1em 0 1em;
}
.searchContainer {
	padding: 0 1em 0 1em;
	position: -webkit-sticky;
	position: sticky;
	top: 3.25em;
	border-bottom: 1px solid #ccc;
	background-color: white;
}
@media screen and (max-width: 980px) {
	.searchContainer {
		top:44px;
	}
}
#quicksearch {
	width: 100%;
	margin-bottom:0em;
	padding-bottom: 0.75em;
	padding-top: 0.75em;
}
input[id="qs_field"] {
	padding: 0em 4.4em 0em 0.5em;
	display: inline-block;
	max-width: 70%;
}
button[id="toggleSettings"] {
	margin-left: -4.4em;
	-webkit-box-shadow: none;
	        box-shadow: none;
	display: inline-block;
	min-width: 1em;
}
div.select-wrapper {
	float: right;
}
#groupSelector {
	cursor: pointer;
	width: auto;
	padding-right:2.5em;
	display: inline;
}
#settings {
	overflow:hidden;
	-webkit-transition: height 0.25s, margin 0.25s, padding 0.25s;
	-o-transition: height 0.25s, margin 0.25s, padding 0.25s;
	transition: height 0.25s, margin 0.25s, padding 0.25s;
	padding: 0;
}
#settings.zeroHeight, #settings.initiallyHidden {
	padding:0;
}
.search_setting {
	margin:0.75em 0em 0em 0em;
	padding-bottom: 0.2em;
}
button:focus {
	outline: 0;
}
button.Button {
	min-width: 1em;
	margin-top: 0.25em;
	margin-right: 0em;
	margin-left: 0.75em;
	-webkit-box-shadow: none;
	        box-shadow: none;
}
button.toggleType {
	min-width: 1em;
	margin: 0.5em 0.5em 0em 0.5em;
	-webkit-box-shadow: none;
	        box-shadow: none;
}
button.toggleType i {
	height:1em;
	width:1em;
	overflow:hidden;
}
button.collapseAllType, button.expandAllType {
	min-width: 1em;
	margin: 0.5em 0.5em 0em 0em;
	-webkit-box-shadow: none;
	        box-shadow: none;
}
.collapseAllType i, .expandAllType i {
	height:1em;
	width:1em;
	overflow:hidden;
}
span.workTitle {
	font-weight: bold;
}
span.journalTitle, span.bookTitle {
	font-style: italic;
}
i.fas.fa-external-link-alt, i.fas.fa-external-link-square-alt, i.far, i.fab {
	color: #FE5C00;
	margin-left: 0.75em;
	height: 1.25em;
	width: 1.25em;
	padding-top: 0.25em;
	overflow:hidden;
}
i.ai {
	color: #FE5C00;
	height: 1.25em;
	width: 1.25em;
}
.icon.ai:before {
		font-family: 'Academicons';
}
span.workURL i.fas.fa-external-link-alt {
	margin-left: 0em;
}
div.BiBTeX {
	overflow:hidden;
	font-family: monospace;
	font-size: small;
	line-height: normal;
	background-color: #272727;
	border-radius: 1em;
	padding-left:1em;
	padding-right:1em;
	color: #fff;
	-webkit-transition: height 0.25s, margin 0.25s, padding-top 0.25s;
	-o-transition: height 0.25s, margin 0.25s, padding-top 0.25s;
	transition: height 0.25s, margin 0.25s, padding-top 0.25s;
	word-wrap: break-word;
}
div.BiBTeX.notHidden {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
div.BiBTeX.zeroHeight {
	padding-top: 0.0em;
	padding-bottom: 0.0em;
	margin-top: 0.0em;
	margin-bottom: 0.0em;
}
a {
	color: inherit;
	text-decoration: inherit;
}
a:hover {
	color: inherit;
	text-decoration: inherit;
}
ol {
	overflow:hidden;
	list-style-position: inside;
	-webkit-padding-start: 0em;
			padding-inline-start: 0em;
}
ol.zeroHeight {
	-webkit-transition:height 0.3s cubic-bezier(0,0.85,1,1);
	-o-transition:height 0.3s cubic-bezier(0,0.85,1,1);
	transition:height 0.3s cubic-bezier(0,0.85,1,1);
}
ol.notHidden {
	height:auto;
	-webkit-transition:height 0.3s cubic-bezier(0.85,0,1,1);
	-o-transition:height 0.3s cubic-bezier(0.85,0,1,1);
	transition:height 0.3s cubic-bezier(0.85,0,1,1);
}
li.entry {
	margin: 0.25em 1em 1em 1em;
	-webkit-box-shadow: 0 0.15em 0.5em 0 rgba(0,0,0,0.2);
			box-shadow: 0 0.15em 0.5em 0 rgba(0,0,0,0.2);
	padding: 0.5em;
}
li.entry:hover {
	-webkit-box-shadow: 0 0.25em 1em 0 rgba(0,0,0,0.2);
			box-shadow: 0 0.25em 1em 0 rgba(0,0,0,0.2);
}

.image.left.peopleImg{
	width: min(200px,40%);
}
.feature .content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	padding-bottom: 1em;
}
.feature .content .button {
	-ms-flex-item-align: start;
	    align-self: flex-start;
}
.feature .content .shortItemText {
	-webkit-box-flex: 1;
	    -ms-flex: 1 0 auto;
	        flex: 1 0 auto;
}
.itemPublications {
	display: block;
	margin:0;
}
@media (max-width: 736px) {
	#includedContent {
		margin: 0 0.25em 0 0.25em;
	}
	input[id="qs_field"] {
		max-width: 50%;
	}
}